{% extends 'base.html' %}
{% block content %}
    <h1>{{ pokemon.name }}</h1>
    <table>
        <tr>
            <td class="label"> Type: </td>
            <td> {{pokemon.type }} </td>
        </tr>
        <tr>
            <td class="label"> Ability: </td>
            <td> {{pokemon.ability }} </td>
        </tr>
        <tr>
            <td class="label"> Discription: </td>
            <td> {{pokemon.description }} </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'pokemons_update' pokemon.id %}" class="detailBtn">EDIT</a>
                <a href="{% url 'pokemons_delete' pokemon.id %}" class="detailBtn" id="delete">DELETE</a>
            </td>
        </tr>
    </table>

    <d>
        <form action="{% url 'add_training' pokemon.id %}" method="POST">
            {% csrf_token %}
            {{ training_form.as_p }}
            <input type="submit" value="Add Training">
          </form>
        <h3>TRAININGS</h3>
        {% for training in pokemon.training_set.all %}
        <p><strong>When: </strong> <br> {{ training}}</p>
        <p><strong>Training Reason: </strong> <br>{{ training.type }}</p>
        {% endfor %}
    </d><br>
    
    
{% endblock %}
