{% extends 'base.html' %}
{% block content %}
    <h1>{{ pokemon.name }}</h1>
    <table>
        <tr>
            <td class="label"> Type: </td>
            <td> {{pokemon.type }} </td>
        </tr>
        <tr>
            <td class="label"> Ability: </td>
            <td> {{pokemon.ability }} </td>
        </tr>
        <tr>
            <td class="label"> Discription: </td>
            <td> {{pokemon.description }} </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'pokemons_update' pokemon.id %}" class="detailBtn">EDIT</a>
                <a href="{% url 'pokemons_delete' pokemon.id %}" class="detailBtn" id="delete">DELETE</a>
            </td>
        </tr>
    </table>

    <h3>Add Training Session:</h3>
    <div id="training_form">
        <form action="{% url 'add_training' pokemon.id %}" method="POST" id="form">
            {% csrf_token %}
            {{ training_form.as_table }}
            <input type="submit" id="add_training" value="Add Training">
          </form>

          <div id="training">
              <h4>TRAININGS</h4>
              {% for training in pokemon.training_set.all %}
              <p><strong>When: </strong> <br> {{ training}}</p>
              <p><strong>Training Reason: </strong> <br>{{ training.type }}</p>
              {% endfor %}
          </div>
    </div><br>
    <hr>
    <div>
        <div>
            <h3>{{ pokemon.name }}'s Pokéballs</h3>
            {% if pokemon.pokeballs.count %}
            {% for pokeball in pokemon.pokeballs.all %}
                <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    A <span>{{ toy.color }}</span> {{ toy.name }}
                    </span>
                </div>
                </div>
            {% endfor %}
            {% else %}
            <h5>No Pokéballs :(</h5>
            {% endif %}
        </div>
     </div>
    
{% endblock %}
