{% extends 'base.html' %}
{% block content %}
<h1>All Pokémon</h1>

<main>
    {% for pokemon in pokemons %}
    <div class="card">
        <div class="content">
        <h2 class="card-title">{{ pokemon.name }}</h2>
        <p><strong class="values">Type:</strong> {{ pokemon.type }}</p>
        <p><strong class="values">Ability:</strong> {{ pokemon.ability }}</p>
        <p><strong class="values">Description:</strong> {{ pokemon.description }}</p>
        </div>
    </div>
    {% endfor %}
</main>



{% endblock %}