{% extends 'base.html' %}
{% block content %}

    <h1>About this Pokedex</h1>
    <p>The Pokédex is an electronic device created and designed to catalog and provide information regarding the various species of 
        Pokémon featured in the Pokémon video game, anime and manga series. In the Pokémon continuity, the Pokédex was invented by 
        Professor Oak, a respected professor in the science of Pokémon. Whenever a Pokémon is first captured, its data will be added to a player's Pokédex.
        Feel free to add your Favorite Pokemon! <strong>Happy training Pokemon Masters!</strong></p>
  



{% endblock %}