{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Pokemon</title>
</head>
<body>
    <header>
        <nav>
            <ul class="left">
                <li><a href="/"><img src="https://i.imgur.com/KOaRATv.png" height="50px" width="50px"></a></li>
            </ul>
            <ul class="right">
                <li><a href="/pokemon">POKÉMON</a></li>
                <li><a href='/about'>ABOUT</a></li>
            </ul>
        </nav>
    </header>
        {% block content %}
        {% endblock %}
</body>
</html>